header {
	display: flex;
	justify-content: space-between;
	height: 70px;
	align-items: center;
	padding: 10px;
}

hr {
	border: 10px solid #34495e;
	border-radius: px;
  }

.contenedor {
	display: flex;
	align-items: center;

}

.contenedor img {
	height: 50px;
	margin-right: 10px;
}


nav {
	margin: 27px auto 0;
	position: sticky;
	width: 590px;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
}

nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}

nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}

a:nth-child(1) {
	width: 100px;
}

a:nth-child(2) {
	width: 110px;
}

a:nth-child(3) {
	width: 100px;
}

a:nth-child(4) {
	width: 160px;
}

a:nth-child(5) {
	width: 120px;
}

nav .start-menú,
a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #1abc9c;
}

nav .start-videos,
a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: #e74c3c;
}

nav .start-guiones,
a:nth-child(3):hover~.animation {
	width: 100px;
	left: 210px;
	background-color: #3498db;
}

nav .start-creditos,
a:nth-child(4):hover~.animation {
	width: 160px;
	left: 310px;
	background-color: #9b59b6;
}

nav .start-patreon,
a:nth-child(5):hover~.animation {
	width: 120px;
	left: 470px;
	background-color: #e67e22;
}

body {
	font-size: 12px;
	font-family: sans-serif;
	background: #2c3e50;
}

/*Css del preloader */

.hidden {
	overflow: hidden;
}

.preloader {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.preloader1 {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	animation: animateBg 10s linear infinite;
}

@keyframes animateBg {
	0% {
		filter: hue-rotate(0deg);
	}
	100% {
		filter: hue-rotate(360deg);
	}
}

section .loader {
	position: relative;
	width: 120px;
	height: 120px;
}

section .loader span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: rotate(calc(18deg * var(--i)));
}

section .loader span::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #00ff0a;
	box-shadow: 0 0 10px #00ff0a,
	0 0 20px #00ff0a,
	0 0 40px #00ff0a,
	0 0 60px #00ff0a,
	0 0 80px #00ff0a,
	0 0 100px #00ff0a;
	animation: animate 2s linear infinite;
	animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
	0% {
		transform: scale(1);
	}
	80%, 100% {
		transform: scale(0);
	}
}

.seccion {
	background-color: #233b53;
	margin: 50px 50px;
	margin-top: 50px;
	padding-top: 15px;
}

h1 {
	text-align: center;
	margin: 0px 0 40px;
	text-align: center;
	font-size: 30px;
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Cherry Swash', cursive;
}

h2 {
	text-align: center;
	margin: 40px 0 40px;
	text-align: center;
	font-size: 25px;
	color: #9eddec;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Cherry Swash', cursive;
}

.enlaces_internos {
	padding: 1rem;
	display: flex;
	box-sizing: border-box;

}

ul {
	list-style: none;
	box-sizing: border-box;

}

.lista1>li {
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
	color: #b6b6b6;
	box-sizing: border-box;

}

.lista2>li {
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
	color: #b6b6b6;
	box-sizing: border-box;

}

.titulos {
	text-align: center;
	margin: 40px 0 40px;
	text-align: center;
	font-size: 25px;
	color: #8deaaf;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Cherry Swash', cursive;
}

.dibujo_escena {
	display: flex;
	justify-content: center;
	align-items: center;
}

.boceto {
	margin-left: 100px;
}

h3 {
	text-align: left;
	margin: 40px 100px 40px;
	font-size: 20px;
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Cherry Swash', cursive;
}

h4 {
	text-align: left;
	margin: 40px 100px 40px;
	font-size: 25px;
	color: #9eddec;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Cherry Swash', cursive;
}

.enlace {
	color: plum;
	text-decoration: none;
}

.enlace-secundario {
	color: rgb(145, 211, 193);
	text-decoration: none;
}

p {
	position: sticky;
	bottom: 20px;
	width: 100%;
	text-align: right;
	color: #ecf0f1;
	font-family: 'Cherry Swash', cursive;
	font-size: 16px;
}

span {
	color: #2BD6B4;
}

.slider {
	margin-top: 40px;
	background-color: #34495e;
	padding: 40px 0;
}

.slider_container {
	display: grid;
	grid-template-columns: 58px 1fr 50px;
	align-items: center;
	gap: 1em;
}

.slider_body {
	grid-column: 2/3;
	grid-row: 1/2;
	opacity: 0;
	pointer-events: none;
	display: grid;
	background-color: #34495e;
	grid-template-columns: 1fr max-content;
	align-items: center;
	transition: opacity 1.5s;
}

.slider_body--show {
	opacity: 1;
	pointer-events: unset;
}

.slider_texts {
	max-width: 600px;
}

.subtitle {
	font-size: 2.5em;
	margin-bottom: 20px;

}

.slider_review {
	font-weight: 300;
	font-size: 20px;
	line-height: 1.7;
}

.slider_img {
	width: 230px;
	height: 230px;
	border-radius: 10%;
	object-fit: cover;
	display: block;
	margin: 0 auto;
}

.slider_arrow {
	cursor: pointer;
	width: 90%;
}

.slider_arrow:nth-of-type(2){
	justify-self: end;
}

.sliderA {
	margin-top: 40px;
	background-color: #34495e;
	padding: 40px 0;
}

.slider_containerA {
	display: grid;
	grid-template-columns: 58px 1fr 50px;
	align-items: center;
	gap: 1em;
}

.slider_bodyA {
	grid-column: 2/3;
	grid-row: 1/2;
	opacity: 0;
	pointer-events: none;
	display: grid;
	background-color: #34495e;
	grid-template-columns: 1fr max-content;
	align-items: center;
	transition: opacity 1.5s;
}

.slider_bodyA--show {
	opacity: 1;
	pointer-events: unset;
}

.slider_textsA {
	max-width: 600px;
}

.subtitleA {
	font-size: 2.5em;
	margin-bottom: 20px;

}

.slider_reviewA {
	font-weight: 300;
	font-size: 20px;
	line-height: 1.7;
}

.slider_imgA {
	width: 230px;
	height: 230px;
	border-radius: 10%;
	object-fit: cover;
	display: block;
	margin: 0 auto;
}

.slider_arrowA {
	cursor: pointer;
	width: 90%;
}

.slider_arrowA:nth-of-type(2){
	justify-self: end;
}


